@model GCO.Dominio.Entidade.Repositorio

@{
    ViewBag.Title = "DM - Unidade de Desenvolvimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Voltar", "Listar",null,new { @class = "BtnVoltar", title = "Voltar" })

<h2>Apagar Repositório</h2>

<h3>Deseja realmente apagar o Repositório?</h3>
<fieldset>
    <legend>Repositório</legend>

    <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nome, new { disabled = "disabled", @readonly = "readonly"})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Caminho)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Caminho, new { disabled = "disabled", @readonly = "readonly"})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdTipoRepositorio)
        </div>
        <div class="editor-field">
           @Html.TextBoxFor(model => model.TipoRepositorio.Nome, new { disabled = "disabled", @readonly = "readonly"})
        </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Apagar" />
        |
        @Html.ActionLink("Voltar", "Listar")
    </p>
}
