@model GCO.Dominio.Entidade.RamoDeDesenvolvimento

@{
    ViewBag.Title = "DM - Versão de Desenvolvimento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function TipoDeVersao() {
        var _Branch = $("input[name='Branch']:checked").val();
        if (_Branch == null || _Branch == "") { _Branch = false; }

        $("#DivTipoDeVersao").empty();

        if (_Branch) {
            $("#DivTipoDeVersao").append("<div class='editor-label'><label> Caminho / Branch</label></div>");
            $("#DivTipoDeVersao").append("<div class='editor-field'>");
            $("#DivTipoDeVersao").append("<input type='text'  id='txtCaminho' readonly='True' style='font-size: 10px; width: 400px;' />");
            $("#DivTipoDeVersao").append("<input id='Caminho' name='Caminho' style='width: 80px;' type='text' value='' />");
            $("#DivTipoDeVersao").append("</div>");
        } else {
            $("#DivTipoDeVersao").append("<div class='editor-label'><label for='Versao'>Versao</label></div>");
            $("#DivTipoDeVersao").append("<div class='editor-field'><input id='Versao' name='Versao' style='width: 500px;' type='text' value='' /></div>");
        }
    }

    function FiltrarPorRamoProducao() {

        var _RamoDeProducao = $('#IdRamoProducao').val();
        var _IdUnidadeDesenvolvimento = $('#IdUnidadeDesenvolvimento').val();
        var _Branch = $("input[name='Branch']:checked").val();

        if (_RamoDeProducao == null || _RamoDeProducao == "") { _RamoDeProducao = 0; }
        if (_Branch == null || _Branch == "") { _Branch = false; }


        $.getJSON('@Url.Action("GetRamoDeProducao")', { idRamoDeProducao: _RamoDeProducao, idUnidadeDesenvolvimento: _IdUnidadeDesenvolvimento, branch: _Branch }, function (data) {

            $('#IdModulo').val(data.Resultado.Modulo.IdModulo);
            $('#IdRepositorio').val(data.Resultado.Repositorio.IdRepositorio);
            //$('#txtCaminho').val(data.Resultado.Caminho);

        });
    }

    $(function () {
        $('#IdRamoProducao').change(function () {
            FiltrarPorRamoProducao();
        });
    });

</script>

@Html.ActionLink("Voltar", "Editar","UnidadeDeDesenvolvimento",new { idUnidadeDesenvolvimento= Model.IdUnidadeDesenvolvimento },new { @class = "BtnVoltar", title = "Voltar" })

<h2>Versão de Desenvolvimento</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false)
    
    @Html.HiddenFor(model => model.IdUnidadeDesenvolvimento)
    
    <fieldset>
        <legend>Ramo de Desenvolvimento</legend>

        <div class="editor-label">
            <div class="Esq"><label>Branch: </label></div>
            <div class="Esq10">@Html.RadioButtonFor(model => model.Branch,"True", new { style="width: 20px;"})Sim</div>
            <div class="Esq10">@Html.RadioButtonFor(model => model.Branch,"False", new { style="width: 20px;"})Não</div>
            <div style="clear:both; margin-bottom: 10px;"></div>
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.IdRamoProducao)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdRamoProducao, (SelectList)ViewBag.RamoDeProducao, "Selecione", new { style="width: 511px;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdModulo)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdModulo, (SelectList)ViewBag.Modulo, "Selecione", new {  style="width: 511px;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdRepositorio)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdRepositorio, (SelectList)ViewBag.Repositorio, "Selecione", new {  style="width: 511px;" })
        </div>
        
        <div id="DivTipoDeVersao">

            <div class="editor-label">
                @Html.LabelFor(model => model.Versao)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Versao, new {  style="width: 500px;" })
            </div>

        </div>

        <div class="editor-label">
            <label>Branch</label>
        </div>
        <div class="editor-field">
           @* <input type="text"  id="txtCaminho" readonly="True" style="font-size: 10px; width: 403px;" />*@
            @Html.TextBoxFor(model => model.Caminho, new {  style="width: 500px;" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comentario)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Comentario, new {  style="width: 500px;" })
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Editar","UnidadeDeDesenvolvimento",new { idUnidadeDesenvolvimento= Model.IdUnidadeDesenvolvimento },null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
