@model GCO.Dominio.Entidade.ScriptDeBanco

@{
    ViewBag.Title = "DM - Unidade de Desenvolvimento - Script";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Voltar", "Listar",new { idUnidadeDesenvolvimento= ViewBag.IdUnidadeDesenvolvimento },new { @class = "BtnVoltar", title = "Voltar" })

<h2>Apagar Script</h2>

<h3>Deseja realmente apagar o script?</h3>
<fieldset>
    <legend>ScriptDeBanco</legend>

    <div>
            <div class="Esq">
                <div class="editor-label">
                    @Html.LabelFor(model => model.IdTipoScript)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.TipoDeScriptDeBanco.Nome, new { disabled="disabled", style="width: 190px;" } )
                </div>
            </div>

            <div class="Esq20">
                <div class="editor-label">
                    <label>Usuário</label>
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Usuario.UserName, new { disabled="disabled",style="width: 190px;" } )
                </div>
            </div>
            
            <div class="Esq20">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Nome)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Nome, new { disabled="disabled" } )
                </div>
            </div>

            <div class="Esq20">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Comentario)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Comentario, new { disabled="disabled" } )
                </div>
            </div>
            <div class="Esq20">
                @using (Html.BeginForm()) {
                    <input type="submit" value="Apagar" />
                }
            </div>
            <div style="clear:both;"></div>
        </div>
        <div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Script)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Script,new { style="width: 1190px; height:500px;", disabled="disabled" })
            </div>
        </div>
</fieldset>
    
<div>
    @Html.ActionLink("Voltar", "Listar",new { idUnidadeDesenvolvimento= ViewBag.IdUnidadeDesenvolvimento },null)
</div>
    
