@model GCO.Dominio.Entidade.ScriptDeBanco

@{
    ViewBag.Title = "DM - Unidade de Desenvolvimento - Script";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Voltar", "Listar",new { idUnidadeDesenvolvimento= ViewBag.IdUnidadeDesenvolvimento },new { @class = "BtnVoltar", title = "Voltar" })

<h2>Cadastrar Script</h2>

@using (Html.BeginForm("Importar", "Script", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false)
    
    <fieldset>
        <legend>ScriptDeBanco</legend>
                @Html.HiddenFor(model => model.IdUnidadeDesenvolvimento)
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.IdTipoScript)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.IdTipoScript, (SelectList)ViewBag.TipoDeScriptDeBanco, "Selecione", new { })
                </div>
            
                <div class="editor-label">
                    <label>Usuário</label>
                </div>
                <div class="editor-field">
                    <input value="@ViewBag.NomeUsuario" disabled="disabled" readonly="true" />
                </div>
            
                <div class="editor-label">
                    @Html.LabelFor(model => model.Nome)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Nome, new { disabled="disabled" })
                    @Html.HiddenFor(model => model.Nome)
                </div>
                        
                <div class="editor-label">
                    @Html.LabelFor(model => model.Comentario)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Comentario)
                </div>

                <div class="editor-label">
                    <label>Arquivo</label>
                </div>
                <div class="editor-field">
                    <input type="file" id="Arquivo" name="Arquivo" data-val-required="O campo Arquivo é obrigatório."  data-val="true"/>
                </div>        

            <div style="padding-top: 12px;">
                <input type="submit" value="Importar" />
            </div>
            
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Listar",new { idUnidadeDesenvolvimento= ViewBag.IdUnidadeDesenvolvimento },null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
